$color: purple;
$dark: #2f2f38;
$light: #e9e9e9;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 0;
}

.app {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}

.header {
  padding: .5rem;
  font-size: 2rem;
  color: white;
  background-color: $color;
  text-align: center;
}

.title {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: $color;
}

.checkbox {
  margin-top: 1rem;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: $color;
  background-color: $color;
}

.button {
  margin-top: 1.5rem;
  background-color: $color;
}

canvas {
  margin: 3rem;
}

.footer {
  color: $light;
  background-color: $dark;
  text-align: center;
  padding: .5rem;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}