body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000191;
}

.checkbox {
  margin-top: 1rem;
}

.button {
  color: white;
  background-color: #000191;
}